@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* scroll-behavior: smooth; */
}

body {
    background-color: #fff;
}

.swal2-title {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #fff;
}

.swal2-popup {
    border: 2px solid #fff;
    background-color: #222;
    border-radius: 25px;
    width: 25em;
    padding-bottom: 25px;
}

/* Navbar */
.navbar {
    background-color: white;
    z-index: 999;
}

.navbar .navbar-brand {
    font-size: 20px;
    letter-spacing: .5px;
    color: #444;
    transition: color .3s ease-in-out;
    font-family: 'Bangers', cursive;
}

.navbar .navbar-brand:hover {
    color: #222;
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}

.navbar .nav-link {
    font-family: 'Bangers', cursive;
    font-size: 14.3px;
    letter-spacing: 2px;
    color: #555;
}

.navbar .nav-link.active {
    color: #222;
    position: relative;
}

.navbar .nav-link.active::before {
    content: '';
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 20px;
}

.navbar .nav-link:hover {
    color: #222;
    transform: scale(1.08);
    transition: all .3s ease-in-out;
}

.navbar #menu {
    display: none;
    height: 35px;
    width: 45px;
    row-gap: 7px;
    cursor: pointer;
    position: relative;
}

.burgerMenu:before, .burgerMenu:after {
    content: '';
    position: absolute;
    left: 15px;
    top: 7px;
    height: 22px;
    width: 2px;
    background-color: #333;
}

/* Open */
.burgerMenu.open:before {
    transform: rotate(-90deg) translateX(4px);
    transition: transform .3s ease-in-out;
}

.burgerMenu.open:after {
    transform: rotate(90deg) translateX(4px);
    transition: transform .3s ease-in-out;
}

/* Close */
.burgerMenu.close::before {
    transform: rotate(45deg);
    transition: transform .3s ease-in-out;
}

.burgerMenu.close::after {
    transform: rotate(-45deg);
    transition: transform .3s ease-in-out;
}


div {
    overflow: hidden;
    position: relative;
}

section .h2 {
    font-family: 'Bangers', cursive;
    position: relative;
}

section .h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    width: 40px;
    height: 2.5px;
    background-color: #222;
}

/* Home */
section#home {
    height: 750px;
    display: flex;
    justify-content: center;
    position: relative;
}

section#home .mdi-map-marker {
    animation: location 10s infinite linear;
}

section#home #title_name {
    font-size: 50px;
}

@keyframes location {
    0% {
        transform: translate(105px, 23px);
    }
    25% {
        transform: translate(30px, -5px);
    }
    50% {
        transform: translate(90px, -50px);
    }
    75% {
        transform: translate(-110px, -40px);
    }
    100% {
        transform: translate(105px, 23px);
    }
}

section#home span {
    height: 550px;
    width: 550px;
    transform: translateX(2px);
    z-index: -99;
}

section#home h1 {
    font-size: 50px;
    color: #333;
}

section#home #main_header {
    transform: translateX(-400px);
    transition: transform 1s ease;
}

section#home #main_header ul {
    transform: translateX(-400px);
    transition: transform 2s ease;
}

section#home #main_header #project_link {
    transform: translateX(-600px);
    transition: transform 2s ease;
}

section#home #main_header #project_link:hover i {
    transform: translateX(30px);
    transition: transform .5s ease;
}

section#home ul li {
    color: #333;
}

section#home #earth {
    width: 350px;
}

section#home #be::after {
    content: '';
    background: rgb(194, 194, 194);
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 35%;
    height: 1px;
}

section#home #be::before {
    content: '';
    background: rgb(194, 194, 194);
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 35%;
    height: 1px;
}

/* About */

section#about {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 150px 0;
}

section#about div #about_img {
    width: 220px;
    transform: scale(0.5);
    opacity: 0;
    transition: all 1s ease;
}

/* Skills */
section#skill {
    margin-bottom: 150px;
}

section#skill .skill_icon div {
    cursor: pointer;
}

section#skill .skill_menu {
    cursor: pointer;
}

section#skill .skill_icon {
    transition: transform 1.5s ease;
}

section#skill .skill_icon:nth-child(1) {
    transform: translate(418px, 270px);
}
section#skill .skill_icon:nth-child(2) {
    transform: translate(140px, 270px);
}
section#skill .skill_icon:nth-child(3) {
    transform: translate(-140px, 270px);
}
section#skill .skill_icon:nth-child(4) {
    transform: translate(-418px, 270px);
}
section#skill .skill_icon:nth-child(5) {
    transform: translate(420px, 200px);
}
section#skill .skill_icon:nth-child(6) {
    transform: translate(140px, 200px);
}
section#skill .skill_icon:nth-child(7) {
    transform: translate(-140px, 200px);
}
section#skill .skill_icon:nth-child(8) {
    transform: translate(-418px, 201px);
}
section#skill .skill_icon:nth-child(9) {
    transform: translate(418px, 130px);
}
section#skill .skill_icon:nth-child(10) {
    transform: translate(140px, 130px);
}
section#skill .skill_icon:nth-child(11) {
    transform: translate(-140px, 130px);
}
section#skill .skill_icon:nth-child(12) {
    transform: translate(-420px, 130px);
}
section#skill .skill_icon:nth-child(13) {
    transform: translate(420px, 60px);
}

section#skill #skills_container {
    row-gap: 20px;
}

/* Project */
section#project {
    height: max-content;
}

section#project #project_container {
    row-gap: 80px;
}

section#project article div img {
    cursor: pointer;
}

section#project article div #img_project {
    height: 320px;
    overflow: hidden;
}
section#project article div #img_project img {
    cursor: pointer;
}

section#project article div #img_project img:hover {
    transform: scale(1.05);
    transition: transform .5s ease-in-out;
}

section#project article .left_project {
    transform: translateX(-1000px);
    transition: transform 1s ease;
}

section#project article .right_project {
    transform: translateX(1000px);
    transition: transform 1s ease;
}

/* Contact */
section#contact {
    margin-top: 150px;
    padding-bottom: 80px;
}

section#contact .col-12 .form-floating label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 500;
}

section#contact .col-12 .form-floating:first-child label,
section#contact .col-12 .form-floating:nth-child(2) label {
    padding-top: 19px;
}

section#contact .col-12 .form-floating input,
section#contact .col-12 .form-floating textarea {
    font-size: 14px;
    border: unset;
    caret-color: #444;
    border: 1px solid gainsboro;
}

section#contact .col-12 .form-floating input:focus,
section#contact .col-12 .form-floating textarea:focus {
    border: 1.5px solid #222;
}

section#contact .col-12 div button {
    font-size: 13.5px;
    letter-spacing: 1.5px;
}

section#contact .col-12 ul a {
    color: #444;
}

section#contact .col-12 ul a:hover {
    color: #000;
}

@media screen and (max-width: 992px) {
    /* About */
    section#about div #about_img {
        width: 190px;
    }
    /* Project */
    section#project article div #img_project {
        height: 280px;
        border: 2px solid red;
    }
}

@media screen and (max-width: 768px) {
    /* Navbar */
    .navbar {
        z-index: 99;
    }
    .navbar .navbar-brand {
        z-index: 999;
    }
    .navbar #menu {
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .navbar .navbar-nav {
        background-color: #fff;
        position: fixed;
        left: 200%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: left .5s ease;
    }
    .navbar .nav-link {
        color: #222;
        transform: unset;
        transition: all .3s ease-in-out;
        text-align: center;
        border-bottom: 0px;
        user-select: none;
    }
    .navbar .nav-item.open:nth-child(1) {
        transform: translateX(120px);
    }
    .navbar .nav-item.open:nth-child(2) {
        transform: translateX(90px);
    }
    .navbar .nav-item.open:nth-child(3) {
        transform: translateX(70px);
    }
    .navbar .nav-item.open:nth-child(4) {
        transform: translateX(50px);
    }
    .navbar .nav-item.open:nth-child(5) {
        transform: translateX(20px);
    }
    .navbar .nav-item {
        transform: translateX(0px);
        transition: transform 1.5s ease;
    }
    /* Home */
    section#home #earth {
        width: 280px;
    }
    section#home .mdi-map-marker {
        transform: translate(95px, 103px);
        animation: unset;
    }
    section#home #title_name {
        font-size: 45px;
    }
    /* About */
    section#about {
        margin-top: 135px;
        margin-bottom: 110px;
    }
    section#about #about_text {
        margin: 0 auto;
        width: 80%;
    }
    /* Skill */
    section#skill {
        margin-bottom: 160px;
    }
    section#skill #skills_container {
        row-gap: 20px;
    }
    /* Project */
    section#project article div #img_project {
        height: 220px;
    }
    section#project #project_container {
        row-gap: 35px;
    }
    /* Contact */
    section#contact {
        margin-top: 100px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 550px) {
    section#about #about_text {
        width: 90%;
    }
}