@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* scroll-behavior: smooth; */
}

body {
    /* background-color: #f7f7f7; */
    background-color: #fff;
}

.navbar {
    background-color: white;
    z-index: 999;
}

.navbar .navbar-brand {
    font-size: 20px;
    letter-spacing: .5px;
    color: #444;
    transition: color .3s ease-in-out;
    font-family: 'Bangers', cursive;
}

.navbar .navbar-brand:hover {
    color: #222;
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}

.navbar .nav-link {
    font-family: 'Bangers', cursive;
    font-size: 14.3px;
    letter-spacing: 2px;
    color: #555;
}

.navbar .nav-link.active {
    color: #222;
    position: relative;
}

.navbar .nav-link.active::before {
    content: '';
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 20px;
}

.navbar .nav-link:hover {
    color: #222;
    transform: scale(1.08);
    transition: all .3s ease-in-out;
}

div {
    overflow: hidden;
    position: relative;
}

section#home,
section#about {
    height: 750px;
}

section .h2 {
    font-family: 'Bangers', cursive;
}

/* Home */
section#home {
    display: flex;
    justify-content: center;
}

section#home span {
    height: 550px;
    width: 550px;
    transform: translateX(2px);
    z-index: -99;
}

section#home h1 {
    font-size: 50px;
    color: #333;
}

section#home ul li {
    color: #333;
}

/* About */
section#about div {
    width: 650px;
    text-align: center;
}


/* Project */
section#project {
    height: max-content;
}

section#project article div img {
    cursor: pointer;
}

section#project article div #img_project {
    height: 320px;
    overflow: hidden;
}
section#project article div #img_project img {
    cursor: pointer;
}

section#project article div #img_project img:hover {
    transform: scale(1.05);
    transition: transform .5s ease-in-out;
}

/* Contact */
section#contact {
    margin-top: 150px;
    padding-bottom: 80px;
}

section#contact .col-12 form .form-floating label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 500;
}

section#contact .col-12 form .form-floating:first-child label,
section#contact .col-12 form .form-floating:nth-child(2) label {
    padding-top: 19px;
}

section#contact .col-12 form .form-floating input,
section#contact .col-12 form .form-floating textarea {
    font-size: 14px;
    border: unset;
    caret-color: #444;
}

section#contact .col-12 form .form-floating input:focus,
section#contact .col-12 form .form-floating textarea:focus {
    border: 2px solid #222;
}

section#contact .col-12 form div button {
    font-size: 13.5px;
    letter-spacing: 1.5px;
}

section#contact .col-12 ul a {
    color: #444;
}

section#contact .col-12 ul a:hover {
    color: #000;
}

@media screen and (max-width: 768px) {
    /* About */
    section#about div {
        width: 100%;
    }
    /* Project */
    section#project article div #img_project {
        height: 250px;
        border: 2px solid red;
    }
    /* Contact */
    section#contact {
        margin-top: 100px;
        padding-bottom: 50px;
    }
}