@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* scroll-behavior: smooth; */
}

body {
    background-color: #f7f7f7;
}

.navbar {
    background-color: transparent;
    z-index: 999;
}

.navbar .navbar-brand {
    font-size: 20px;
    letter-spacing: .5px;
    color: #444;
    transition: color .3s ease-in-out;
    font-family: 'Bangers', cursive;
}

.navbar .navbar-brand:hover {
    color: #222;
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}

.navbar .nav-link {
    font-family: 'Bangers', cursive;
    font-size: 14.3px;
    letter-spacing: 2px;
    color: #555;
}

.navbar .nav-link.active {
    color: #222;
    position: relative;
}

.navbar .nav-link.active::before {
    content: '';
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 20px;
}

.navbar .nav-link:hover {
    color: #222;
    transform: scale(1.08);
    transition: all .3s ease-in-out;
}

div {
    overflow: hidden;
    position: relative;
}

section {
    height: 750px;
}

section .h2 {
    font-family: 'Bangers', cursive;
}

section#home {
    display: flex;
    justify-content: center;
}

section#home span {
    height: 550px;
    width: 550px;
    transform: translateX(2px);
    z-index: -99;
}

section#home h1 {
    font-size: 50px;
    color: #333;
}

section#home ul li {
    color: #333;
}

section#about div {
    width: 650px;
    text-align: center;
}

section#about div small span {
    border-bottom: 2px solid royalblue;
}

section#project {
    height: max-content;
}

section#project article {
    height: 350px;
}

section#project article div img {
    cursor: pointer;
}

section#project article div #img_project:hover {
    transform: scale(1.05);
    transition: transform .5s ease-in-out;
}
